body {
    margin: 0;
    font-family: Arial;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
                url("imagenes/imagen2.jpeg");
    background-size: cover;
    background-position: center;
    color: white;

  }
  
  h1 {
    font-family: "Tapestry", cursive;
    font-size: 34px;
    text-align: center;
    color: #a7f3d0;
    letter-spacing: 2px;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 15px;
    max-width: 1000px;
    margin: auto;
  }
  
  .card {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  
    padding: 20px;
    border-radius: 15px;
  
    box-shadow: 0 4px 15px rgba(0,0,0,0.4);
    border: 1px solid rgba(255,255,255,0.2);
  
    transition: 0.3s;
  }

  .card:hover {
    transform: scale(1.05);
    background: rgba(255, 255, 255, 0.15);
  }

  #grafica{

    width: 900px !important;
    
    height: 500px !important;
    
    }

    .lobo {
      position: fixed;
      bottom: 10px;
      right: 10px;
    
      width: 200px;
      opacity: 0.3;
    
      pointer-events: none;
    }

    #rain {
      position: fixed;
    
      width: 100%;
      height: 100%;
    
      top: 0;
      left: 0;
    
      pointer-events: none;
    
      display: none;
    
      overflow: hidden;
    }
    
    .drop {
      position: absolute;
    
      width: 2px;
      height: 20px;
    
      background: #7dd3fc;
    
      opacity: 0.6;
    
      animation: fall linear infinite;
    }
    
    @keyframes fall {
      from {
        transform: translateY(-100px);
      }
    
      to {
        transform: translateY(100vh);
      }
    }